[Unit]
Description=Seafile hub
After=network.target seafile.service

[Service]
Type=forking
ExecStart=/opt/yunohost/__APP__/seafile-server-latest/seahub.sh start
ExecStop=/opt/yunohost/__APP__/seafile-server-latest/seahub.sh stop
User=__APP__
Group=__APP__

[Install]
WantedBy=multi-user.target
